<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
    <title>Device Management</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href='{% static "assets/bootstrap/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "assets/bootstrap-table/src/bootstrap-table.css" %}'>
    <link rel="stylesheet" href='{% static "assets/bootstrap-table/src/extensions/reorder-rows/bootstrap-table-reorder-rows.css" %}'>
    <link rel="stylesheet" href='{% static "assets/examples.css" %}'>
    <script src='{% static "assets/jquery.min.js" %}'></script>
    <script src='{% static "assets/bootstrap/js/bootstrap.js" %}'></script>
    <script src='{% static "assets/bootstrap-table/src/bootstrap-table.js" %}'></script>
    <script src='{% static "assets/bootstrap-table/src/extensions/export/bootstrap-table-export.js"  %}'></script>
    <script src='{% static "assets/tableExport.js" %}'></script>
    <script src='{% static "assets/jquery.tablednd.js" %}'></script>
   <script src='{% static "assets/ga.js" %}'></script>
   <script src='{% static "js/constants.js" %}'></script>
   {% block reorder_js_block %}
   <script src='{% static "assets/bootstrap-table/src/extensions/reorder-rows/bootstrap-table-reorder-rows.js" %}'></script>
   {% endblock %}
</head>
<body>
{% block body_block %}{% endblock %}
</body>
</html>