<!DOCTYPE html>
<html>
<head>
{% extends 'Dmanage/base.html'%}
{% load staticfiles %}
   {% block reorder_js_block %}
      {% endblock %}
</head>
<body>
{% block body_block %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
   <div class="navbar-header">
      <a class="navbar-brand">Device Management</a>
   </div>
   <div>
   	  {% if user.is_authenticated %}
      <p class="navbar-text navbar-right" ><a href="{% url 'logout' %}" class="navbar-link">Log out</a></p>
      <p class="navbar-text navbar-right">Signed in as {{user.username}}</p>
      {% else %}
      <p class="navbar-text navbar-right" ><a href="{% url 'login' %}" class="navbar-link">Log in</a></p>
      {% endif %}
   </div>
   </div>
</nav>
    <div class="container">
    <div class="row">
            <div class="span6">
                <ul class="breadcrumb" style="background-color:#FFFFFF">
                	<li>
                        <a href="{% url 'list' %}">首页</a><span class="divider">></span>
                    </li>
                    <li class="active">
                        	历史
                    </li>
                </ul>
            </div>
        </div>
        <table id="table"
               data-toggle="table"
               data-url="{% url 'device_history_data' slug %}"
               data-side-pagination="server"
               data-pagination="true"
               data-page-list="[5, 10, 20, 50, 100, 200]"
               data-search="false">
            <thead>
            <tr>
                <th data-field="name" data-formatter="nameFormatter">名称</th>
                <th data-field="owner">拥有者</th>
                <th data-field="action">行为</th>
                <th data-field="dateAt">时间</th>
            </tr>
            
            </thead>
        </table>
    </div>
<script>
    var $table = $('#table');
    function nameFormatter(value)
    {
    	return "{{slug}}"
    }
   		 $(function () {
    });
</script>
{% endblock %}
</body>
</html>